<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<title>CO Assistant</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
  <!-- Tab links -->
  <ul class="nav">
    <li><a href="assistant.html">Home</a></li>
    <li><a href="search.html">Items Availability</a></li>
    <li><a href="">Request Printing</a></li>
  </ul>
</head>

<center>
<body>

  <h1>Everyday Items</h1>

    <ul>
      {% for item in items 
        continue if item.category == 'everyday_items'%}
        <li><span>{{ item.name }}</span> <span class="info"> Available?: {{ item.availability }} </span> </li>
     </ul> {% endfor %}
    

  
 
  
</body>
</center>
</html>