<html>
    <head>
        <meta charset="utf-8">
        <title>CO Assistant</title>
      {% load static %}
    
      <link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
      <!-- Tab links -->
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/sports">Items Availability</a></li>
        <li><a href="">Request Printing</a></li>
      </ul>
    </head>
 <center> 
<body>
    <h1>Items</h1>
    {% for element in items %}
    <h1><a href="/items/get/{{ items.id }}/">{{ element.name }}</a></h1>
    {% endfor %}
    </body>
</center>  
</html>