<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<title>CO Assistant</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'assistant.css' %}">
  <!-- Tab links -->
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/sports">Items Availability</a></li>
    <li><a href="">Request Printing</a></li>
  </ul>
</head>

<center>
<body>

  <h1>Sports Equipment</h1>
  <ul>
    {% for item in items %}
    <li>{{ item.name }} ':' {{ item.availability ? "available" : "not available" }}</li>
    {% endfor %}
  </ul>

</body>
</center>
</html>